{
  "presets": [
    [
      "env",
    ]
  ],
  "plugins": [
    "transform-vue-jsx",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
